:root {
    --primary: #EDE7E3;
    --secondary: #16667A;
    --accent: #FFA62B;
}

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Poppins", sans-serif;
}

/* Nav bar styling. Changing colors and adding hover effect. */
.navbar {
    background-color: var(--secondary);
}

.navbar-nav .accent-link.accent-link.accent-link.accent-link {
    color: var(--accent)
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: var(--accent);
}

/* styling the title */
.container1 {
    background-color: var(--secondary);
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.card {
    height: 100%;
    border-color: #EDE7E3;
}

/* styling the card titles, making them the accent. Still need help getting them all centered... */
.card-title1 {
    text-align: center;
    color: var(--accent);
    justify-content: center;
}

.card-title2 {
    text-align: center;
    color: var(--accent);
    justify-content: center;
}

.card-title3 {
    text-align: center;
    color: var(--accent);
    justify-content: center;
}

/* form styling */
.input-button {
    justify-content: center;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    border-radius: 10%;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
}

.input-button:hover {
    background-color: var(--accent);
}

#footer {
    align-self: center;
    background-color: #16667A;
    margin-top: 20px;
}

.card {
    align-items: center;
    color: var(--primary);
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-text {
    text-align: center;
}

.input-text {
    display: right;
    margin-bottom: 10px;
}

.input-text[name="name"],
.input-text[name="date"],
.input-text[name="email"],
.input-text[name="age"] {
    width: 100%;
}

/*  carosel */
.hw6-container {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.slides {
    justify-content: center;
    background: #e3f4f4;
    width: 95%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    border: 4px solid var(--accent);
    box-shadow: rgba(0, 0, 0, .35) 0px 5px 15px;
}

.slide {
    position: absolute;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    opacity: 0;
    inset: 0;
    animation: slide-show 12s infinite;
}

.slide-2 {
    animation-delay: 4s;
}

.slide-3 {
    animation-delay: 8s;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}

@keyframes slide-show {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    20%,
    30% {
        opacity: 1;
        scale: 1.03;
    }

    50% {
        opacity: 0
    }
}

/* styling footer */
.footer {
    background-color: #16667A;
    padding: 20px 0;
    /* Add padding to the top and bottom of the footer */
}

.footer .fab {
    color: var(--accent);
    padding: 1.5%;
}

.fab:hover {
    color: var(--primary);
}

/* styling certifications. I want to change the main title to the accent and then also the certifications to the accent */
.card-title4 {
    text-align: center;
    color: var(--accent);

}

.certs {
    font-size: .75em;
    font-weight: normal;
}

.list-group {
    list-style: none;
}

.list-title1,
.list-title2 {
    color: var(--accent);
}